<a href="https://colab.research.google.com/github/sekhardevops-crypto/maps/blob/master/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
num1 = int(input("Enter temperature in celsius: "))
result = (num1 * 9/5) + 32
print("Temperature in Fahrenheit is: ", result)

Enter temperature in celsius: 5
Temperature in Fahrenheit is:  41.0

In [4]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))
result = num1+num2+num3
print("Sum of three numbers is: ", result)

Enter first number: 2
Enter second number: 3
Enter third number: 4
Sum of three numbers is:  9

In [7]:
num1 = int(input("Enter first number: "))
num2 = float(input("Enter second number: "))
result = num1*num2
print("Product of two numbers is: ", result)

Enter first number: 5
Enter second number: 3.3
Product of two numbers is:  16.5

In [8]:
num1 = str(input("Enter first name: "))
num2 = str(input("Enter second second: "))
result = num1+num2
print("Division of two numbers is: ", result)

Enter first name: mallepula
Enter second second: sekhar
Division of two numbers is:  mallepulasekhar

In [11]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))
if num1>num2 and num1>num3:
    print(num1, "is greater")
elif num2>num1 and num2>num3:
    print(num2, "is greater")
else:
    print(num3, "is greater")

Enter first number: 99
Enter second number: 75
Enter third number: 67
99 is greater

In [15]:
num1 = int(input("Enter first number: "))
if num1%2==0:
    print(num1, "is even")
else:
    print(num1, "is odd")

Enter first number: 4
4 is even

In [18]:
num1 = int(input("Enter first number: "))
num2 = float(input("Enter second number: "))
if num1>num2:
    print(num1, "is greater")
else:
    print(num2, "is greater")

Enter first number: 10
Enter second number: 9.9
10 is greater